<div class="main-container">
    <div class="hero">
      <div class="overlay">
        <div class="hero-text">
          <h1 class="typing-text"></h1>
          <p class="fade-in-text above-scroll-text">Do you want to find the truth?</p>
        </div>
        <button (click)="scrollToNext()" class="fade-in-button">Click to Scroll Down</button>
        <span class="fade-in-arrow">↓</span>
      </div>
    </div>

    <section id="next-section">
      <video #videoRef1 class="video1" [loop]="false" [controls]="true" [muted]="false" >
        <source src="src/assets/videos/conspiracy_video1_compressed.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>



  <!-- SECTION 1: INTRODUCTION TO QANON -->
  <section class="section-intro">
    <div class="content-wrapper">
      <h2>What is QAnon?</h2>
      <p>A modern-day conspiracy that thrives on mystery, misinformation, and community-driven narratives.</p>
    </div>
  </section>


  <!-- SECTION: QANON'S EXPANSION -->
  <section class="section-qanon-expansion">
    <h2 class="section-title">The Spread of QAnon</h2>

    <div class="expansion-container">
      <!-- First Column -->
      <div class="expansion-column">
        <h3 class="highlight-title">Trump & Political Influence</h3>
        <p>
          As QAnon grew beyond anonymous forums, “bakers” and influencers shaped it around real-world events.
          Trump and his allies indirectly endorsed QAnon ideas at rallies, online, and even in official statements.
        </p>
        <p>
          <strong>Key Moments:</strong><br>
          - Trump suggested using disinfectants like bleach against COVID-19 in 2020.<br>
          - QAnon spread false claims about Antifa starting wildfires during the West Coast wildfire season.
        </p>
      </div>

      <!-- Second Column -->
      <div class="expansion-column">
        <h3 class="highlight-title">Misinformation & Public Impact</h3>
        <p>
          QAnon fueled misinformation during global crises, including the COVID-19 pandemic.
          Some followers promoted dangerous remedies like <strong>Miracle Mineral Solution</strong> (industrial bleach) as a cure.
        </p>
        <p>
          Trump helped amplify QAnon’s reach by <strong>retweeting over 70 QAnon-linked accounts</strong>, some later linked to <strong>Russian intelligence operations</strong>.
        </p>
        <p>
          <strong>Massive Online Presence:</strong><br>
          - <strong>69M+ tweets</strong> referenced QAnon between 2017-2020.<br>
          - <strong>487K+ Facebook posts</strong> spread QAnon narratives.<br>
          - <strong>281K+ Instagram posts</strong> engaged with QAnon hashtags.
        </p>
      </div>

      <!-- Third Column -->
      <div class="expansion-column">
        <h3 class="highlight-title">Meme Culture & Symbolism</h3>
        <p>
          QAnon thrived on <strong>Internet culture</strong>, using memes, in-jokes, and cryptic messages to engage followers.
          Many concepts were borrowed from <strong>films like <em>The Matrix</em> (1999) and <em>White Squall</em> (1996)</strong>.
        </p>
        <p>
          Followers saw themselves as “red-pilled,” referencing <em>The Matrix</em>, and urged others to <strong>“Follow the White Rabbit”</strong>
          (<em>Alice in Wonderland</em> metaphor for discovering hidden truths).
        </p>
        <p>
          QAnon’s most famous slogan, <strong><em>“Where We Go One, We Go All” (WWG1WGA)</em></strong>, came from <em>White Squall</em>.
        </p>
      </div>
    </div>
  </section>



  <!-- SECTION: TRACKING THE CRUMBS (New Layout) -->
  <section class="section-text-boxes">
    <h2 class="section-title" [ngStyle]="{'color': 'black'}">Tracking the Crumbs</h2>

    <div class="boxes-container">
      <!-- First Box -->
      <div class="info-box">
        <h3 class="highlight-title">Secret Knowledge</h3>
        <p>Q would hint at having secret knowledge and make predictions for future events that never actually happened, all written in vague and confusing language.</p>
      </div>

      <!-- Second Box -->
      <div class="info-box">
        <h3 class="highlight-title">Leading Questions</h3>
        <p>Instead of providing real answers, Q mostly asked leading questions, guiding followers to interpret information as they wished.</p>
      </div>

      <!-- Third Box -->
      <div class="info-box wide-box">
        <h3 class="highlight-title">Hero-Trump Narrative</h3>
        <p>Over time, the postings changed, becoming more focused on proving the story of Hero-Trump and his far-right political orbit.</p>
      </div>
    </div>
  </section>


  <!-- SECTION: QNIVERSE OF MADNESS -->
  <section class="section-qniverse">
    <h2 class="section-title">Qniverse of Madness</h2>

    <div class="qniverse-text-container">
      <p>
        As it became harder to ignore Q’s incompetency, followers started treating Q like a celebrity,
        using fandom behavior to validate inconsistencies. Constructing an alt-reality using books, fanart,
        memes, maps, and clocks—visual tools that helped connect the community and justify their beliefs.
      </p>

      <p>
        Sight plays a crucial role in truth-making as well as fooling. The 1957 BBC broadcast on spaghetti farming
        deceived many viewers simply by showing a fake activity.
      </p>

      <p>
        In an era of increased confusion, both anonymous and official figures attempt to use complexity
        to grow their following—both online and in politics.
      </p>
    </div>
  </section>

  <!-- SECTION: FROM CONSPIRACY TO POPULISM -->
  <section class="section-transition">
    <h2 class="section-title">From Conspiracy Thinking to Populist Narratives</h2>

    <p>
      While QAnon started as an online conspiracy movement, its core ideas—distrust in elites,
      belief in hidden truths, and a battle between good and evil—align closely with populist ideology.
    </p><br>

    <p>
      The movement gradually merged with <strong>far-right populism</strong>, reinforcing existing anti-government
      and anti-establishment sentiments. This transition <strong>turned conspiracy thinking into a political weapon</strong>,
      fueling division, misinformation, and radicalization.
    </p><br>

    <p>
      <strong>How does conspiracy thinking reinforce populism?</strong>
      The need for <strong>simple explanations</strong>, <strong>anger-driven beliefs</strong>, and <strong>blame attribution</strong> make
      conspiracy narratives a powerful tool for populist leaders, helping them rally support and
      justify extreme actions.
    </p>
  </section>




  <!-- SECTION: POPULISM, FAR-RIGHT, AND CONSPIRACY THINKING -->
  <section class="section-populism">
    <h2 class="section-title">Populism, Far-Right Ideology and Conspiracy Thinking</h2>

    <div class="populism-container">
      <!-- First Column -->
      <div class="populism-column">
        <h3 class="highlight-title">Populism and Conspiracy Thinking</h3>
        <p>
          <strong>Core of Populism:</strong> Populism is based on the belief in a <strong>good, homogenous, unified common people</strong> vs. a corrupt elite that exploits them.
          This strong <strong>"us vs. them"</strong> mentality makes people more likely to embrace conspiracy theories that reinforce this division.
        </p>
        <p>
          <strong>Conspiracy mindset:</strong> Populists tend to seek <strong>simple, binary explanations</strong> for complex issues.
          <span class="highlight-text">People look for coherent reasoning between complicated events and try to reduce their difficulty to a polar, binary view.</span>
        </p>
      </div>

      <!-- Second Column -->
      <div class="populism-column">
        <h3 class="highlight-title">How Misinformation Shapes Populist Beliefs</h3>
        <p>
          <span class="highlight-text">Belief in simple solutions</span> makes people assume that <strong>all events can be easily explained</strong>, leading to <strong>predictability</strong> in an uncertain world.
          This contributes to the far-right's appeal, as it offers <strong>black-and-white narratives</strong> to explain crises.
        </p>
        <p>
          <strong>Anti-immigrant sentiment:</strong> Many populists experience <em>nostalgia for a “better” past</em> and blame societal decline on immigrants and minorities.
          <span class="highlight-text">People discern a nation's thriving past and downgrade the present due to low-status immigrants and refugees.</span>
        </p>
      </div>

      <!-- Third Column -->
      <div class="populism-column">
        <h3 class="highlight-title">Emotional Manipulation & Polarization</h3>
        <p>
          <strong>Anger is a key emotion in populism.</strong> It emerges when people feel their <strong>cultural identity is threatened</strong>.
          <span class="highlight-text">Anger arises as a result of a threat to cultural identity and feelings of unfairness.</span>
        </p>
        <p>
          <strong>Blame attribution:</strong> Populists perceive <strong>the government as controlling the economy</strong>, causing frustration.
          <span class="highlight-text">When people experience anger, they are more likely to attribute responsibility to an external cause.</span>
        </p>
      </div>
    </div>
  </section>

  <!-- SECTION: WHY THIS IS A CONCERN -->
  <section class="section-concern">
    <h2 class="section-title">Why This Should Worry Us</h2>

    <div class="concern-container">
      <p>
        <strong>Polarization & Radicalization:</strong>
        Populist rhetoric encourages <strong>blaming others for societal issues</strong>, absolving responsibility from those in power.
        <span class="highlight-text">Populists tend to blame others in most problems while absolving the (right) people of responsibility.</span>
      </p>

      <p>
        <strong>Spreading Misinformation:</strong>
        Conspiracy thinking fuels <strong>distrust in science and institutions</strong>, leading to dangerous real-world actions.
        The COVID-19 pandemic is an example, where <strong>far-right conspiracy theories encouraged people to drink bleach</strong> as a cure.
      </p>

      <p>
        <strong>Encouraging Fast Thinking & Stereotypes:</strong>
        Populist ideologies promote <strong>superficial, “fast” thinking</strong>, making people more susceptible to <strong>stereotypes and extreme ideologies</strong>.
        <span class="highlight-text">Anger prompts people to follow quick thinking and increases stereotypes as a way to reduce uncertainty.</span>
      </p>
    </div>
  </section>




  <!-- SECTION 4: FINAL THOUGHT -->
  <section class="section-cta">
    <h2>Can You Trust What You See?</h2>
    <p>In the age of digital manipulation, it's up to us to question and think critically.</p>
    <button (click)="scrollToQuestions()" class="cta-button">Test your abilities</button>
  </section>



  <!-- SECTION: CRITICAL THINKING QUESTIONS -->
  <section class="section-questions" id="questions-section">
    <h2 class="section-title">QAnon: Think Critically</h2>
    <p class="question-intro">
      Below are common QAnon claims. Read and watch the sources, analyze the evidence, and ask yourself:
      <em>How do we determine what is true? What makes you believe a source?</em>
    </p>

    <div class="questions-container">
      <!-- Question 1 -->
      <div class="question-box">
        <h3>1. Do Democrats and Hollywood elites run a secret child trafficking ring?</h3>
        <p><strong>Claim:</strong> Only Trump can stop this alleged network.</p>
        <div class="response-buttons">
          <button class="true-btn" (click)="checkAnswer('answer1', true)">True</button>
          <button class="false-btn" (click)="checkAnswer('answer1', false)">False</button>
        </div>

        <div *ngIf="userAnswers['answer1']" class="feedback">
          <p [ngClass]="{'correct': userAnswers['answer1'] === 'correct', 'incorrect': userAnswers['answer1'] === 'incorrect'}">
            {{ feedbackMessages['answer1'] }}
          </p>
        </div>

        <button class="toggle-btn" (click)="toggleAnswer('answer1')">{{sourceButtonText}}</button>
        <div *ngIf="answersVisibility['answer1']" class="answer-content">
          <p><strong>Fact-check:</strong> Do credible evidence supports this claim?</p>
          <app-media-section [sources]="mediaSources['answer1']"></app-media-section>
        </div>
      </div>

      <!-- Question 2 -->
      <div class="question-box">
        <h3>2. Has Q correctly predicted many world events?</h3>
        <p><strong>Claim:</strong> Q's accurate predictions prove QAnon is real. Is it the case?</p>
        <div class="response-buttons">
          <button class="true-btn" (click)="checkAnswer('answer2', true)">True</button>
          <button class="false-btn" (click)="checkAnswer('answer2', false)">False</button>
        </div>

        <div *ngIf="userAnswers['answer2']" class="feedback">
          <p [ngClass]="{'correct': userAnswers['answer2'] === 'correct', 'incorrect': userAnswers['answer2'] === 'incorrect'}">
            {{ feedbackMessages['answer2'] }}
          </p>
        </div>

        <button class="toggle-btn" (click)="toggleAnswer('answer2')">{{sourceButtonText}}</button>
        <div *ngIf="answersVisibility['answer2']" class="answer-content">
          <p><strong>Fact-check:</strong> Q’s vague predictions often fail, but believers reinterpret them. What do you think?</p>
          <app-media-section [sources]="mediaSources['answer2']"></app-media-section>
        </div>
      </div>

      <!-- Question 3 -->
      <div class="question-box">
        <h3>3. Are people brainwashed by the mainstream media if they don’t believe in QAnon?</h3>
        <p><strong>Claim:</strong> Only a few enlightened people know the truth.</p>
        <div class="response-buttons">
          <button class="true-btn" (click)="checkAnswer('answer3', true)">True</button>
          <button class="false-btn" (click)="checkAnswer('answer3', false)">False</button>
        </div>

        <div *ngIf="userAnswers['answer3']" class="feedback">
          <p [ngClass]="{'correct': userAnswers['answer3'] === 'correct', 'incorrect': userAnswers['answer3'] === 'incorrect'}">
            {{ feedbackMessages['answer3'] }}
          </p>
        </div>

        <button class="toggle-btn" (click)="toggleAnswer('answer3')">{{sourceButtonText}}</button>
        <div *ngIf="answersVisibility['answer3']" class="answer-content">
          <p><strong>Logical Fallacy:</strong> This is an example of an "Us vs. Them" mentality.</p>
          <app-media-section [sources]="mediaSources['answer3']"></app-media-section>
        </div>
      </div>

    </div>
  </section>




</div>

<router-outlet />
