
.hero {
  background-image: url("/src/assets/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  width: 100%;
  height: 120vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video1 {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1000px;
  border: 8px solid #2d2d2d;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  display: block;
  margin: 50px auto;
}

.overlay {
  position: absolute;
  display: inline-grid;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  font-family: 'Courier New', monospace;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: whitesmoke;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(253, 246, 210, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:hover {
  background: #d9ecf8;
  color: black;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgb(217, 236, 248);
}

.fade-in-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 65px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 4s forwards, bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

#next-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background: #111;
}

#next-section2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.main-container{
  background-color: black;
}

.typing-text::after {
  content: "Are conspiracy theories real?";
  color:white;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(25, end), blink 0.8s infinite;
  border-right: 3px solid white; /* Blinking cursor effect */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.above-scroll-text{
  display: flex;
  justify-content: center;
}

.fade-in-text{
  color: white;
}
/* Fade-in effect for the subtitle */
.fade-in-text, .fade-in-button{
  opacity: 0;
  animation: fadeIn 2s ease-in-out 4s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SECTION INTRO */
.section-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  color: white;
}

.section-intro .content-wrapper {
  max-width: 800px;
  padding: 20px;
  background-image: url("/src/assets/images/what.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 10px;
}

/* QANON EXPANSION SECTION */
.section-qanon-expansion {
  /*background: black;*/
  background-image: url("/src/assets/images/Qanon-Capital.jpg");
  background-size: contain;
  background-position: center top; /* aligns it to the top */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 60px 10%;
  text-align: center;
}

/* COLUMNS LAYOUT */
.expansion-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 30px;
}

