<div class="main-container">
    <div class="hero">
      <div class="overlay">
        <div class="hero-text">
          <h1 class="typing-text"></h1>
          <p class="fade-in-text above-scroll-text">Do you want to find the truth?</p>
        </div>
        <button (click)="scrollToNext()" class="fade-in-button">Click to Scroll Down</button>
        <span class="fade-in-arrow">↓</span>
      </div>
    </div>

    <section id="next-section">
      <video #videoRef1 class="video1" [loop]="false" [controls]="true" [muted]="false" >
        <source src="src/assets/videos/conspiracy_video1_compressed.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>

      <section id="next-section2">
        <h2>Welcome to the Next Section 2</h2>
        <p>More content here...</p>
      </section>
</div>


<router-outlet />
